.bid
{
    background-color: black;
    color:white;

}
.header
{
    display: flex;
    text-align: center;
    justify-content: center;
}
.by{
        text-align:right;
}
#st
{
    text-underline-position: below;
    color: gold;
    border:3px solid gold;
    width: 100%;
}
body
{
    margin:10px;
}
#video
{
    border:3px solid wheat; 
    margin: 40px;
    width: 560px;
    align-content: center;
}
.paradigms
{
    margin: 15px;
}
.links
{
    color:#8bc34a;
}
#texti
{
    text-align: center;
}